<!--app/templates/product_form.html-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<div class="container pt-5">
    <h3>Them moi san pham</h3>
    <form method="POST" enctype="multipart/form-data">{%csrf_token%}
        <table class="table table-form">{{form}}</table>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a href="/list_product" class="btn btn-secondary">Quay lai</a>
    </form>
</div>

<script>
    $(document).ready(function(){
        $('.table-form input, select').addClass('form-control');
    });
</script>